.container {
  width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.source {
  right: 0;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  margin-right: 30px;
}
/* tictactoe board stuff */

table {
  width: 80%;
  margin: 0 auto;
}

td {
  width: 180px;
  height: 180px;
  border-bottom: 10px solid black;
  border-right: 10px solid black;
  text-align: center;
}

td:hover {
  background-color: #00FFFF;
  opacity: 0.7;
}

.lastrow td {
  border-bottom: none;
}

.end {
  border-right: none;
  border-bottom: 10px solid black;
}

/* board icon */

img {
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
}
